.nav1,
.top-menu {
    z-index: 5000;
    width:100%;
    margin-bottom: 0;
    height: 110px;
    -webkit-box-shadow: 0 3px 5px -2px #999;
    -moz-box-shadow: 0 3px 5px -2px #999;
    box-shadow: 0 3px 5px -2px #999;
}

.navbar {
    margin-bottom: 0;
    white-space: nowrap;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar .navbar-nav {
    margin-top: 25px;
}

.nav a {
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration:none;
    color: #0072B5 !important;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
    overflow-y: visible;
}

.navbar-default .navbar-toggle .icon-bar {
    border: 0;
}

.brand-logo {
    max-height: 35px !important;
    width: auto !important;
    font-size: 18px !important;
    font-weight: 300;
    margin-left: 40px;
}

.brand-logo.header-text {
    margin-top: 30px;
}

.brand-logo.small {
    display: none;
}

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display: inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
    overflow: hidden;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}

.nav:after {
    content:"";
    display:block;
    clear:both;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-nav {
    margin-bottom: 5px;
}

.navbar-right {
    margin-top: 12px;
    margin-right: 20px;
    float: right !important;
}

.navbar-right-links {
    margin-top: 12px;
    margin-right: 20px;
    float: right !important;
}

.navbar-default
div.navbar-collapse {
    border-top:none;
    box-shadow:none;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 1.00);
    border:none;
}

@media only screen and (max-width: 610px) {
    .brand-logo.large {
        display: none;
    }

    .brand-logo.small {
        display: block;
    }
}

@media only screen and (min-width: 610px) and (max-width: 660px) {
    .secondary {
        display: none !important;
    }
}

@media only screen and (max-width: 360px) {
    .secondary {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .center.navbar .nav,
    .center.navbar .nav > li {
        display: block !important;
        *display: block !important; /* ie7 fix */
        *zoom:1; /* hasLayout ie7 trigger */
    }
}
