:root {
    --text-color: #000;
}

body, html {
    overflow-x:hidden;
}
body {
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
   /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Open Sans', Arial, Helvetice Neue, sans-serif;
    letter-spacing: 0.05rem;
}

p, span {
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

p {
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

ul, ol {
    margin-top: 20px;
}

.spw-section {
    padding-top: 10px;
    padding-bottom: 40px;
}
.spw-section-header {
    margin-bottom: 30px;
}
.spw-section-header span {
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.spw-section-header:after {
    content:"";
    display:block;
    clear:both;
}
.spw-section-intro {
    margin-bottom: 40px;
}

.header-text {
    color: var(--text-color);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/** Clearfix after containers and items **/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.container:after {
    content:"";
    display:block;
    clear:both;
}
/** End of clearfix section **/
.align-right {
    float: right !important;
}
.align-right:after {
    content:"";
    display:block;
    clear:both;
}
.align-left {
    float: left !important;
}
.align-left:after {
    content:"";
    display:block;
    clear:both;
}
.debug-purple {
    background-color: blueviolet;
}
.fill-height {
    min-height: 100%;
    height:auto !important;
   /* cross-browser */
    height: 100%;
   /* cross-browser */
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.no-overflow {
    overflow: hidden;
}
.darken {
    background-color: rgba(0, 0, 0, 0.40);
}

.txt-white {
    color: #ffffff;
}
.txt-black {
    color: #000000;
}
.hr-line {
    border: 0.5px solid var(--text-color);
    min-width: 50vw;
    max-width: 950px;
    margin-top: 0;
    margin-bottom: 0;
}
.selected {
    color: #0072B5 !important;
}

.link-blue, .link-blue:focus, .link-blue:active, .link-blue:visited {
    text-decoration:none;
    color: #0072B5;
    font-weight: 400;
}
.link-blue:hover {
    text-decoration:none;
    color: #003d60;
}
.welcome {
    z-index: 10;
}
.principles {
    margin-top: 32px;
}
.principles h1 {
    text-align: center;
    margin-bottom: 20px;
}
.contact {
    margin-top: 32px;
}
.contact h1 {
    margin-bottom: -20px;
}

.copyright {
    margin: 16px 0 28px 0;
}
.footer {
    background-color: #fff;
    border-top: 1px solid #85714d;
}

.footer .copyright h4 {
    font-weight: 300;
}

.show-mobile {
    display: none !important;
}

.mobile-nav {
    margin-bottom: 36px;
}

.mobile-nav button {
    min-width: 54vw;
}

@media only screen and (max-width: 380px) {
    .footer .copyright {
        display: none;
   }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: flex !important;
        flex-direction: column;
    }
}

.testimonial-item {
    margin-bottom: 50px;
}
.links {
    margin-top: -10px;
    margin-right: 15px;
}
.person-photo {
    display: block;
    width: 120px !important;
    height: auto !important;
}
.startup-logo {
    display: block;
    width: 120px !important;
    height: auto !important;
}

.email-me {
    background-image: url('../images/email-icon.png');
}

.img-center {
    margin: 0 auto;
}
.see-more-link {
    cursor: pointer;
}
.media-item {
    margin-bottom: 40px;
}
.icon-link {
    width: 40px;
    height: 40px;
}
.last-section {
    margin-bottom: 70px;
}
.startup-item {
    margin-bottom: 50px;
}
.startup-inner {
    padding: 15px;
}
.startup-banner-center {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}
.startup-banner-top-left {
    position:absolute;
    min-height:100%;
    display:block;
    min-width:100%;
}
.core-principles-img {
    height: 40px;
    width: auto;
    margin-bottom: -8px;
}
.header-text-img {
    height: 40px;
    width: auto;
}
.startup-intro {
    margin-bottom: 60px;
}
.startup-header-banner {
    width: 100% !important;
    height: auto;
}
.startup-video {
    min-width: 100% !important;
    min-height: 240px;
    height: auto !important;
}

/* Social Media */

.social-icon {
    background-size: 42px 42px;
    width: 42px;
    height: 42px;
    margin-right: 5px;
}

.twitter-square {
    background-image: url('../images/social/twitter-square.png');
}

.twitter-square:hover {
    background-image: url('../images/social/twitter-square-hover.png');
}

.angellist-square {
    background-image: url('../images/social/angellist-square.png');
}

.angellist-square:hover {
    background-image: url('../images/social/angellist-square-hover.png');
}

.linkedin-square {
    background-image: url('../images/social/linkedin-square.png');
}

.linkedin-square:hover {
    background-image: url('../images/social/linkedin-square-hover.png');
}

/* News and Articles */

.article {
    margin-bottom: 64px;
}

.article a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    -webkit-box-shadow: 0 3px 5px 0 #999;
    -moz-box-shadow: 0 3px 5px 0 #999;
    box-shadow: 0 3px 5px 0 #999;
}

.article a:hover {
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 5px 12px 0 #999;
    -moz-box-shadow: 0 5px 12px 0 #999;
    box-shadow: 0 5px 12px 0 #999;
}

.article img {
    display: block;
    width: 100%;
    height: auto;
}

.article .info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.article hr {
    border: 0.5px solid var(--text-color);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.article .info-row {
    display: flex;
    justify-content: space-between;
    padding: 3px 6px;
}

.article .info-row .info-header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.pdf-button {
    background-color: transparent;
    border: 0;
    margin: 3px 6px;
    display: flex;
    align-items: flex-start;
    height: 2.2em;
}

.pdf-button:hover {
    background-color: #e7c6c6;
}

.pdf-button:active {
    background-color: #e7c6c6;
    outline: none;
}

.pdf-button:focus {
    outline: none;
}

.pdf-icon {
    width: 1.4em;
    height: auto;
    margin: 0.4em;
}

.news {
    margin-bottom: 48px;
}

.news a  {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    border: 1px solid #000;
    -webkit-box-shadow: 0 5px 12px -2px #999;
    -moz-box-shadow: 0 5px 12px -2px #999;
    box-shadow: 0 5px 12px -2px #999;
}

.news a:hover {
    border: 1px solid #0072B5;
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 3px 5px -2px #999;
    -moz-box-shadow: 0 3px 5px -2px #999;
    box-shadow: 0 3px 5px -2px #999;
}

.news a img {
    width: 180px !important;
    height: auto !important;
    margin: 20px;
}

.item {
    margin: 12px;
}

.news .item h4 {
    margin-bottom: 36px;
}

.book {
    margin-bottom: 64px;
}

.book a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    -webkit-box-shadow: 0 3px 5px 0 #999;
    -moz-box-shadow: 0 3px 5px 0 #999;
    box-shadow: 0 3px 5px 0 #999;
}

.book a:hover {
    transition-duration: 0.3s;
    -webkit-box-shadow: 0 5px 12px 0 #999;
    -moz-box-shadow: 0 5px 12px 0 #999;
    box-shadow: 0 5px 12px 0 #999;
}

.book img {
    display: block;
    width: 100%;
    height: auto;
}

.book .info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.book hr {
    border: 0.5px solid var(--text-color);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}