
.twitter-circle {
    background-image: url('../images/social/twitter-circle-gold.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.twitter-circle:hover {
    background-image: url('../images/social/twitter-circle-blue.png');
}

.linkedin-circle {
    background-image: url('../images/social/linkedin-circle-gold.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.linkedin-circle:hover {
    background-image: url('../images/social/linkedin-circle-blue.png');
}

.email-circle {
    background-image: url('../images/social/email-circle-gold.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.email-circle:hover {
    background-image: url('../images/social/email-circle-blue.png');
}

.blog-circle {
    background-image: url('../images/social/blog-circle-gold.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.blog-circle:hover {
    background-image: url('../images/social/blog-circle-orange.png');
}

.angellist-circle {
    background-image: url('../images/social/angellist-circle-gold.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.angellist-circle:hover {
    background-image: url('../images/social/angellist-circle-black.png');
}

.producthunt-circle {
    background-image: url('../images/social/producthunt-circle-gold.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.producthunt-circle:hover {
    background-image: url('../images/social/producthunt-circle-orange.png');
}

.social-icon-medium {
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.twitter-color-bg {
    background-color: #55acee;
    border: 10px #55acee;
    border-radius: 10px;
    padding: 10px;
}
